body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://img.itch.zone/aW1hZ2UvMjM5ODQxLzE2NTAzMjYucG5n/original/WCz7xa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container {
    padding-top: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    

}



.input{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 200px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 5px 10px;
}

.box {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
